<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
</head>

<body>
    <h1>{{judul}}</h1>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="{% url 'blog:index' %}">Blog</a>
        </li>
        <li>
            <a href="{% url 'blog:category' %}">category</a>
        </li>
        <li>
            <a href="{% url 'blog:single' %}">singlepost</a>
        </li>
        <li>
            <a href="{% url 'blog:khusus' input='ucup'  %}">ucup</a>
        </li>
    </ul>
</body>

</html>